[user]
	email = 461095412@qq.com
	name = Xie Shiyao
[alias]
	show-graph = log --graph --abbrev-commit --pretty=oneline
	exec = "!exec "    #shell alias are alaways executed in the top-level directory
[http]
	# sslCAInfo = /etc/pki/tls/certs/ca-bundle.crt
	# sslCAPath = /etc/pki/tls/certs
	postBuffer = 524288000
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	# helper = libsecret
