*

!.bash_profile
!.bashrc
!.clang-format
!.gitconfig
!.gitignore
!.inputrc
!.vimrc
!package.json

!.config/
!.config/nvim/
!.config/nvim/coc-settings.json
!.config/nvim/init.vim

!.vim/
!.vim/skeleton.c
!.vim/autoload/
!.vim/autoload/plug.vim
