*

!README.md
!.gitignore

!.bash_profile
!.bashrc
!.clang-format
!.gitconfig
!.inputrc
!.latexmkrc
!.vimrc
!package.json

!myUltiSnips/
!myUltiSnips/*

!.config/
!.config/nvim/
!.config/nvim/coc-settings.json
!.config/nvim/init.vim

!.vim/
!.vim/skeleton.c
!.vim/autoload/
!.vim/autoload/plug.vim
!.vim/spell/
!.vim/spell/*
