snippet l "print"
print(${1:${VISUAL}})
endsnippet

snippet as "import ... as ..."
import ${1:package} as ${2:name}
endsnippet

snippet q "triple quote"
'''
${1:${VISUAL}}
'''
endsnippet

snippet mis "map(int, input().split())" i
map(int, input().split())
endsnippet

snippet ii "int(input())" i
int(input())
endsnippet

snippet in "input()" i
input()
endsnippet
